@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #8daae5;
  font-family: arial, sans-serif;
  color: azure;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px 0 #000;
          box-shadow: 0 0 4px 0 #000;
}

.logo {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  background-color: #ffffff;
}

.logo__image {
  padding: 10px;
  display: block;
  width: 90%;
}

.search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 50%;
  max-height: 50px;
  margin-right: 2vh;
  padding: 0 10px;
  font-size: 1.4rem;
}

.search__input:focus {
  -webkit-box-shadow: 1px #8daae5;
          box-shadow: 1px #8daae5;
  font-weight: bold;
}

.search__btn {
  font-size: 1.4rem;
  height: 50%;
  max-height: 50px;
  padding: 0 10px;
  border: 2px solid #8daae5;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search__btn:hover {
  background-color: #8daae5;
  color: lightgoldenrodyellow;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings__icon-links {
  margin: 0 10px;
  font-size: 3rem;
  color: #666;
}

.settings__icon-links:hover {
  color: #8daae5;
}

.menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70px;
  margin-top: 10px;
  background-color: #7777a3;
  font-family: "pt sans", "roboto", arial, sans-serif;
  padding: 15px 50px 15px 80px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__item {
  margin: 0 20px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 4rem;
}

.menu__item:hover {
  border-bottom: 2px #fff solid;
}

.menu__item:nth-last-child(1) {
  margin-left: auto;
  border: 2px solid #666;
}

.menu__item:nth-last-child(1):hover {
  border-color: #8daae5;
}

.menu__item:nth-last-child(1) .menu__link {
  padding: 0 22px;
}

.menu__link {
  display: block;
  color: #8daae5;
  text-decoration: none;
}

.article {
  padding: 30px 50px;
  color: #212121;
  text-align: center;
}

.article__image {
  display: block;
  width: 100%;
}

.article__title {
  font-family: "pt sans", "roboto", arial, sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 35px 0 15px;
  letter-spacing: 1px;
}

.article__introduction {
  line-height: 1.6;
  font-size: 1.6rem;
}

.article__btn {
  display: block;
  margin: 10px auto;
  width: 50%;
  min-width: 200px;
  font-size: 1.8rem;
  padding: 6px 12px;
  background-color: #eeeeee;
  color: #8daae5;
  text-decoration: none;
}

.article__btn:hover {
  color: white;
  background-color: #375d71;
}

.main-articles {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #8daae5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-articles__intro {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 60px 0 30px;
  text-align: center;
  font-size: 4.4rem;
  letter-spacing: 2px;
}

.main-articles .article {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.article-list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: chocolate;
}

.footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: darkcyan;
}
/*# sourceMappingURL=main.css.map */