@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto:wght@700&display=swap');

$main-color: #8daae5;
$default-font: arial,
sans-serif;
$special-font: 'pt sans',
'roboto',
arial,
sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: $main-color;
  font-family: $default-font;
  color: azure;

}

.wrapper {
  // container
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  // pozycja i wielkosc
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  // wyglad
  font-size: 2rem;
  background-color: #fff;
  box-shadow: 0 0 4px 0 #000;
}

.logo {
  flex-basis: 200px;
  // height: 200px;
  background-color: #ffffff;
  // flex-grow: 1;
  &__image{
    padding: 10px;
    display: block;
    width: 90%;
  }
}

.search {
  // background-color: rgb(31, 120, 35);
  // elementem elastycznym
  flex-grow: 1;
  // container flexbox
  display: flex;
  align-items: center;
  justify-content: center;
  &__input{
    flex-basis: 60%;
    height: 50%;
    max-height: 50px;
    margin-right: 2vh;
    padding: 0 10px;
    font-size: 1.4rem;
    &:focus{
      box-shadow: 1px $main-color;
      font-weight: bold;
    }
  }
  &__btn{
    font-size: 1.4rem;
    height: 50%;
    max-height: 50px;
    padding: 0 10px;
    border: 2px solid $main-color;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
      background-color: $main-color;
      color: lightgoldenrodyellow;
    }

  }
}

.settings {
  display: flex;
  padding: 0 30px 0 50px;
  align-items: center;
  &__icon-links{
    margin: 0 10px;
    font-size: 3rem;
    color:#666;
    &:hover{
      color: #8daae5;
    }
  }
}

.menu {
  flex-basis: 100%;
  height: 70px;
  margin-top: 10px;
  background-color: rgb(119, 119, 163);
  font-family: $special-font;
  padding: 15px 50px 15px 80px;
  &__list{
    display: flex;
    list-style: none;
  }
  &__item{
    margin: 0 20px;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 4rem;
    &:hover{
      border-bottom: 2px #fff solid;
    }
    &:nth-last-child(1){
      margin-left:  auto;
      border: 2px solid #666;
      // padding: 0 22px;
      &:hover{
        border-color: #8daae5;
      }
      .menu__link{
        padding: 0 22px;
      }
    }
  }
  &__link{
    // padding: 0 10px;
    display: block;
    color: $main-color;
    text-decoration: none;
  }
}
// start two article
.article{
padding: 30px 50px;
color: rgb(33, 33, 33);
text-align: center;

&__image{
  display: block;
  width: 100%;
}
&__title{
  font-family: $special-font;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 35px 0 15px;
  letter-spacing: 1px;
}
&__introduction{
  line-height: 1.6;
  font-size: 1.6rem;
}
&__btn{
  display: block;
  margin: 10px auto;
  width: 50%;
  min-width: 200px;
  font-size: 1.8rem;
  border: solid 1px #666;
  padding: 6px 12px;
  background-color: rgb(136, 136, 136);
  color: #e4e4e4;
  text-decoration: none;
  &:hover{
    color: rgb(255, 255, 255);
    background-color: brown;
  }
}
}



.main-articles {
  flex-basis: 100%;
  // min-height: 400px;
  background-color: $main-color;
  display: flex;
  flex-wrap: wrap;
  &__intro{
    flex-basis: 100%;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.2);
    margin: 60px 0 30px;
    text-align: center;
    font-size: 4.4rem;
    letter-spacing: 2px;
  }
  .article{
    flex-basis: 50%;
  }
}

// start list article
.article-list {
  flex-basis: 100%;
  background-color: chocolate;
}

.footer{
  flex-basis: 100%;
  background-color: darkcyan;
}